body{
    text-align: center;
    margin: 0;
    padding: 0;
}

.bandera{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
    position: relative;
}

.franjas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;
}

.azul{
    background-color: #0D5EAF;
}
.blanca{
    background-color: white;
}

.cuadro{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 55.5%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    z-index: 2;
}